/*Header*/

body {
    font-family: "Roboto", sans-serif;
    background: var(--primary-background-color);
    color: var(--first-font-color);
}

:root {
    --first-font-color: #212121;
    --second-font-color: #2196f3;
    --third-font-color: #000000;
    --fourth-font-color: #757575;
    --fifth-font-color: #ffffff;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --tertiary-background-color: #f5f4fa;
    --fourthary-background-color: #2196f3;
}

/*Main Page*/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    max-width: 1200px;
    margin-left: 215px;
}

h4 {
    width: 270px;
    margin: 0%;
    color: var(--first-font-color);
}

figure {
    margin-block: 0px;
    margin-inline: 0px;
    background: var(--fifth-font-color);
}

.section {
    padding: 94px 0px;
}

.box {
    display: flex;
    width: 1600px;
    margin-left: 0px;
    margin-top: 0px;
    border: 1px solid #ececec;
    border-left: none;
    border-top: none;
    border-right: none;
}

.header-primary {
    display: flex;
    flex-wrap: wrap;
}

.bg-img {
    height: 600px;
    width: 1600px;
    margin-top: 18px;
    background: var(--secondary-background-color), url("../images/header.jpg");
    background-size: cover;
}

.header-title {
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--fifth-font-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-block-end: 0%;
    margin-block-start: 0%;
    margin: 218px auto auto auto;
}

.button-header {
    width: 200px;
    height: 50px;
    color: var(--fifth-font-color);
    background: var(--fourthary-background-color);
    border: 0px;
    border-radius: 4px;
    padding: 10px 41px 10px 42px;
    letter-spacing: 0.06em;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 30px auto auto auto;
}

.content-block {
    flex-direction: column;
}

.button-header .list-primary h4 {
    width: 270px;
    height: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.list-primary {
    display: flex;
    margin-left: 215px;
    width: 1170px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--fourth-font-color);
    padding: 0%;
    margin-block: 0px;
}

.list-primary-box {
    width: 270px;
    text-align: justify;
    margin: 10px 30px 179px auto;
    letter-spacing: 0.03em;
    margin-block: 0px;
}

.list-secondary {
    display: block;
    width: 1170px;
    align-self: center;
    margin-left: 215px;
}

.list-secondary .list-secondary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--first-font-color);
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.list-secondary-item {
    display: inline-flex;
    justify-items: space-between;
}

.list-secondary-box {
    display: flex;
    justify-content: space-between;
    margin-block: 0%;
    padding-inline: 0%;
}

.our-team {
    width: 1600px;
    background: var(--tertiary-background-color);
}

.our-team-title {
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-top: 94px;
    margin: auto;
}

.our-team-item {
    display: flex;
    justify-self: center;
    width: 210px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--first-font-color);
}

/*Portfolio*/

.portfolio {
    display: flex;
    flex-direction: column;
    width: 1170px;
    height: 1360px;
    justify-content: center;
    margin: 94px auto;
}

.logo {
    margin: 24px 93px 25px 0px;
    height: 31px;
    width: 145px;
    letter-spacing: 0.03em;
}

.logo-header-first-part {
    color: var(--second-font-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-header-second-part {
    color: var(--third-font-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.contact-links {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--fourth-font-color);
    letter-spacing: 0.02em;
}

.nav-items {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: space-between;
}

.menu-nav {
    margin: 32px 371px 32px auto;
    width: 254px;
    padding-inline-start: 0px;
}

.menu-nav a:hover,
.menu-nav a:focus,
.menu-nav a:active {
    color: var(--second-font-color);
}

.buttons {
    display: flex;
    width: 572px;
    margin: auto 295px auto;
    justify-content: center;
    gap: 8px;
    margin-block: 0px;
    padding-inline: 0px;
}

.list-button {
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    background: var(--tertiary-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(---first-font-color);
}
.buttons .list-button:hover,
.buttons .list-button:focus,
.buttons .list-button:active {
    color: var(--primary-background-color);
    background: var(--second-font-color);
}

.pointer button {
    cursor: pointer;
}

.contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--fourth-font-color);
}

.email {
    margin: 32px 50px 32px auto;
    width: 161px;
}

.number {
    margin: 32px 227px 32px 0px;
    width: 130px;
}

.contact-header:hover .icon-smartphone,
.contact-header:focus .icon-smartphone {
    stroke: var(--second-font-color);
}

.contact-links .contact-header:hover,
.contact-links .contact-header:focus {
    color: var(--second-font-color);
}

.icon-smartphone {
    width: 10px;
    height: 16px;
}

.contact-header:hover .icon-envelope,
.contact-header:focus .icon-envelope {
    stroke: var(--second-font-color);
}

.icon-envelope {
    width: 16px;
    height: 12px;
}

.list-item {
    width: 1170px;
    display: flex;
    gap: 30px;
    margin: 50px auto 94px auto;
}

.list-item-portfolio {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height: 100%;
    margin-top: 34px;
}

.list-item-title-portfolio {
    display: flex;
    flex-direction: column;
    margin: 20px 24px;
    width: 322px;
}

.container-bg {
    display: flex;
    flex-direction: column;
    width: 370px;
    border: 1px solid #eeeeee;
}

.card-bg {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.list-item-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.list-item-description {
    margin-block: 0px;
    margin: 10px auto 30px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.list-item figcaption {
    font-size: 16px;
    line-height: 1.875;
    color: var(--fourth-font-color);
}

.list-item-block {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-title {
    width: 322px;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--first-font-color);
}

.card-description {
    width: 322px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--fourth-font-color);
}

.footer {
    width: 1600px;
    height: 252px;
    background: var(--secondary-background-color);
}

.footer-items {
    flex-direction: column;
}

.logo-footer {
    display: block;
    width: 145px;
    margin: 60px auto auto 15px;
}

.contact-links-footer a {
    display: flex;
    width: 231px;
    margin: 9px auto 9px 15px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-background-color);
    opacity: 0.6;
}

.contact-links-footer a:hover,
.contact-links-footer a:focus {
    color: var(--second-font-color);
}

.footer .logo-header-second-part {
    color: var(--primary-background-color);
}

.address-text {
    width: 246px;
    margin: 20px auto auto 15px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-background-color);
}
